<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="icon" type="image/ico" href="{{ asset('assets/dashboard/img/logo.ico') }}">
    {% block stylesheets %}
        <link href="{{ asset('assets/dashboard/css/stylesheets.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}


</head>
<body>
<div class="wrapper">
    {% block header %}
        <div class="header">
            <a class="logo" href="/aquarium/dashboard"><img src="{{ asset('assets/dashboard/img/logo.png') }}"
                                                            alt="Aquarius -  responsive admin panel"
                                                            title="Aquarius -  responsive admin panel"></a>
            <ul class="header_menu">
                <li class="list_icon"><a href="#">&nbsp;</a></li>
                <li class="settings_icon">
                    <a href="#" class="link_themeSettings">&nbsp;</a>

                    <div id="themeSettings" class="popup">
                        <div class="head clearfix">
                            <a class="menuHeading" href="{{ path('fos_user_profile_show') }}">
                                <span class="isw-user"></span>
                                <span class="name">Perfil</span>
                            </a>
                        </div>
                        <div class="head clearfix">
                            <a class="menuHeading" href="{{ path('fos_user_profile_edit') }}">
                                <span class="isw-edit"></span>
                                <span class="name">Editar perfil</span>
                            </a>
                        </div>
                        {% if app.user %}
                            <div class="head clearfix">
                                <a class="menuHeading" href="{{ path('fos_user_change_password') }}">
                                    <span class="isw-sync"></span>
                                    <span class="name">Cambiar contraseña</span>
                                </a>
                            </div>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="head clearfix">
                                    <a class="menuHeading" href="{{ path('admin.users_list') }}">
                                        <span class="isw-users"></span>
                                        <span class="name">Administración</span>
                                    </a>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="head clearfix">
                                <a class="menuHeading" href="{{ path('fos_user_resetting_request') }}">
                                    <span class="isw-sync"></span>
                                    <span class="name">Recuperar contraseña</span>
                                </a>
                            </div>
                        {% endif %}
                        <div class="head clearfix">
                            <a class="menuHeading" href="/logout">
                                <span class="isw-power"></span>
                                <span class="name">Salir</span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    {% endblock %}


    <div class="menu">

        <div class="breadLine">
            <div class="arrow"></div>
            <div class="adminControl active">
                Hola, {{ app.user.name }}
            </div>
        </div>

        <div class="admin">
            <div class="col-md-6 col-md-offset-3">
                <img src="{{ asset('assets/dashboard/img/uploads/userAvatar/' ~ app.user.avatar) }}"
                     class="img-thumbnail img-responsive">
            </div>

        </div>
        {% block menu %}{% endblock %}


    </div>
    {% block body %}{% endblock %}

</div>

<div class="spinnerContainer" style="display:none;">
    <div id="spinner" class="spinner">
        <img id="img-spinner" src="{{ asset('assets/dashboard/img/loaders/appquarium.gif') }}" width="100px"
             height="40px" alt="Loading"/>
    </div>
    <div id="bowl" class="bowl">
        <img id="img-bowl" src="{{ asset('assets/dashboard/img/loaders/fishbowl.png') }}" width="160px" height="160px"
             alt="Loading"/>
    </div>
</div>

<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/jquery/jquery-1.10.2.js') }}"></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/jquery/jquery-ui-1.10.1.custom.js') }}"></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/jquery/jquery-migrate-1.2.1.js') }}"></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/jquery/jquery.mousewheel.js') }}"></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/cookie/jquery.cookies.2.2.0.js') }}"></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/bootstrap.min.js') }}"></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/maskedinput/jquery.maskedinput-1.3.js') }}"></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/fullcalendar/moment/moment.js') }}"></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/fullcalendar/fullcalendar.js') }}"></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.js') }}"></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/validation/languages/jquery.js') }}" charset='utf-8'></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/validation/jquery.js') }}" charset='utf-8'></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/fancybox/jquery.fancybox.js') }}"></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/pnotify/jquery.pnotify.js') }}"></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/ibutton/jquery.ibutton.js') }}"></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/scrollup/jquery.scrollUp.js') }}"></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/cleditor/jquery.js') }}"></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/bootbox.min.js') }}"></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/pnotify/jquery.pnotify.js') }}"></script>

<script type='text/javascript' src="{{ asset('assets/dashboard/js/settings.js') }}"></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/actions.js') }}"></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins.js') }}"></script>
{% block javascripts %}{% endblock %}

</body>
</html>
