{% extends 'base.html.twig' %}
{% block title %}Administración de parámetros{% endblock %}
{% block body %}
    <div class="content" style="margin-left: 0;">
        <div class="workplace">
            <div class="row">
                <div class="col-md-12">
                    <div class="widgetButtons">
                    <div class="bb"><a href="/aquarium/dashboard" class="tipb" title="Inicio"><span
                                        class="ibw-home"></span></a></div>
                        <div class="bb"><a href="/admin/" class="tipb" title="Lista de usuarios"><span
                                        class="ibw-users"></span></a></div>
                        <div class="bb">
                            <a href="/admin/newsletter" class="tipb" title="Eviar newsletter"><span
                                        class="ibw-mail"></span></a>
                        </div>
                        <div class="bb"><a href="/admin/parameters" class="tipb active" title="Editar soluciones"><span
                                        class="ibw-list"></span></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="page-header">
                        <h1>Administración de parámetros</h1>
                    </div>
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="alert alert-success">
                            <div class="isw-ok"></div>
                            <h4>Operación realizada.</h4>
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    <div class="head clearfix">
                        <div class="isw-users"></div>
                        <h1>URL Parámetros</h1>
                        <ul class="buttons">
                            <li><a href="#" onClick="parametersForm.submit()" class="isw-up_circle"></a></li>
                        </ul>
                    </div>
                    <div class="block-fluid">
                        <form method="POST" action="{{ path('admin.store.parameters') }}" name="parametersForm" class="form-horizontal">
                        <table cellpadding="0" cellspacing="0" width="100%" class="table">
                            <thead>
                            <tr>
                                <th width="25%">Parámetro</th>
                                <th width="25%">URL nivel alto</th>
                                <th width="25%">URL nivel bajo</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for parameter in parameters %}
                                <tr>
                                    <td class="vert-align">{{ parameter.name }}</td>
                                    <td><div class="row-form padding-0"><input name="max[{{ parameter.name }}]" type="text" value="{{ parameter.solution_high }}"> </div></td>
                                    <td><div class="row-form padding-0"><input name="min[{{ parameter.name }}]" type="text" value="{{ parameter.solution_low }}"></div></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                            <input class="btn btn-primary btn-block" value="Guardar" type="submit">
                        </form>

                    </div>
                </div>
            </div>
            <div class="dr"><span></span></div>
        </div>
    </div>
{% endblock %}