{% extends 'base.dashboard.html.twig' %}
{% block title %}Appquarium{% endblock %}
{% block menu %}

    {{ render(controller(
    'appquarium.controller.reminder:next7DaysReminders',
    { 'aquariumID': aquarium }
    )) }}
{% endblock %}
{% block body %}
    <div class="content">
        <div class="breadLine">
            <div class="breadLine">
                <ul class="breadcrumb">
                    <li><a href="/aquarium/dashboard">Dashboard</a> <span class="divider">></span></li>
                    <li class="active">Calendario</li>
                </ul>
            </div>
        </div>

        <div class="workplace">
            <div class="row">
                <div class="col-md-12">
                    <div class="widgetButtons">
                        <div class="bb"><a href="/aquarium/dashboard" class="tipb" title="Inicio"><span
                                        class="ibw-home"></span></a></div>
                        <div class="bb"><a href="/aquarium/profile/{{ aquarium }}" class="tipb" title="Acuario"><span
                                        class="ibw-aquarium"></span></a></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="head clearfix">
                        <div class="isw-calendar"></div>
                        <h1>Calendar</h1>
                    </div>
                    <div class="block-fluid">
                        <div id="calendar" class="fc"></div>
                    </div>
                </div>
            </div>


            <div class="dr"><span></span></div>



        </div>
    </div>
{% endblock %}
{% block javascripts %}

<script type='text/javascript'
        src="{{ asset('assets/dashboard/js/plugins/fullcalendar/moment/moment.js') }}"></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/fullcalendar/fullcalendar.min.js') }}"></script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/plugins/fullcalendar/es.js') }}"></script>


<script>

    {% autoescape false %}
    var aquarium = {{ aquarium }}
    var eventsjs = {{ events }};
    {% endautoescape %}


</script>
<script type='text/javascript' src="{{ asset('assets/dashboard/js/calendar.js') }}"></script>

{% endblock %}
