{% extends 'base.dashboard.html.twig' %}
{% block title %}Aquario{% endblock %}
{% block menu %}
    <div class="dr"><span></span></div>
    <div class="widget-fluid">
        <div class="info">
            <ul class="rows">
                <li class="heading text-center"><strong>{{ aquarium.alias }}</strong></li>
                <li>
                    <div class="title">Tipo de agua:</div>
                    <div class="text">
                        {% if aquarium.watertype == "freshwater" %}
                            Agua Dulce
                        {% else %}
                            Agua Salada
                        {% endif %}
                    </div>
                </li>
                <li>
                    <div class="title">Capacidad:</div>
                    <div class="text">{{ aquarium.capacity }} Litros</div>
                </li>
                <li>
                    <div class="title">Gasto total:</div>
                    <div class="text">{{ price }} Euros</div>
                </li>
                <li>
                    <table cellpadding="0" cellspacing="0" width="100%" class="sOrders">
                        <thead>
                        <tr>
                            <th class="text-center">Descripción</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th class="text-center">{{ aquarium.description }}</th>
                        </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>
    {{ render(controller(
    'appquarium.controller.reminder:next7DaysReminders',
    { 'aquariumID': aquarium.id }
    )) }}
{% endblock %}
{% block body %}
    <div class="content">
        <div class="breadLine">
            <ul class="breadcrumb">
                <li><a href="/aquarium/dashboard">Dashboard</a> <span class="divider">></span></li>
                <li class="active">Acuario</li>
            </ul>
        </div>

        <div class="workplace">
            <div class="row">
                <div class="col-md-12">
                    <div class="widgetButtons">
                        <div class="bb"><a href="/aquarium/dashboard" class="tipb" title="Inicio"><span
                                        class="ibw-home"></span></a></div>
                        <div class="bb">
                            <a href="/aquarium/gallery/{{ aquarium.id }}" class="tipb" title="Gallery"><span
                                        class="ibw-picture"></span></a>
                        </div>
                        <div class="bb"><a href="/aquarium/edit/{{ aquarium.id }}" class="tipb" title="Editar"><span
                                        class="ibw-edit"></span></a></div>
                        <div class="bb"><a href="/aquarium/calendar/{{ aquarium.id }}" class="tipb" title="Diario"><span
                                        class="ibw-calendar"></span></a></div>
                        <div class="bb"><a href="/aquarium/statistics/{{ aquarium.id }}" class="tipb
                        {% if parameters is empty %}disabled{% endif %}" title="Estadisticas"><span
                                        class="ibw-graph"></span></a>
                        </div>

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="profile clearfix">
                        <div class="image">
                            <img class="img-responsive padding-0 col-md-12"
                                 src="{{ asset('assets/dashboard/img/uploads/' ~ aquarium.avatar) }}">
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="head clearfix">
                        <div class="isw-fish"></div>
                        <h1>Habitantes del acuario</h1>
                        <ul class="buttons">
                            <li>
                                <a href="/inhabitant/new/{{ aquarium.id }}" class="isw-plus"></a>
                            </li>

                        </ul>
                    </div>
                    <div class="block users">

                        <div class="scroll" style="height: 270px;">
                            {% for inhabitant in inhabitants %}

                                <div class="name">
                                    <div id="{{ inhabitant.alias }}_{{ inhabitant.id }}"
                                         class="item clearfix inhabitants">
                                        <div class="image">
                                            <a href="/inhabitant/profile/{{ inhabitant.id }}">
                                                <img src="{{ asset('assets/dashboard/img/uploads/' ~ inhabitant.avatar) }}"
                                                     width="62">
                                            </a>
                                        </div>
                                        <div class="info">
                                            <a href="/inhabitant/profile/{{ inhabitant.id }}"
                                               class="name">{{ inhabitant.alias }} {% if inhabitant.number > 1 %} x {{ inhabitant.number }}  {% endif %}</a>

                                            <div class="controls inhabitantsControl">
                                                <a href="#deleteModal"

                                                   class="glyphicon glyphicon-remove listDeleteButton"
                                                   title="Borrar habitante"
                                                   data-toggle="modal"
                                                   data-from="list"
                                                   data-path="/inhabitant/deleteList/{{ inhabitant.id }}"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            {% else %}
                                <div class="text-center">No hay habitantes en este acuario</div>
                            {% endfor %}


                        </div>

                    </div>

                </div>
                <div class="col-md-3">
                    <div class="head clearfix">
                        <div class="isw-filter"></div>
                        <h1>Accesorios del acuario</h1>
                        <ul class="buttons">
                            <li>
                                <a href="#accessoryModal" class="isw-plus" data-toggle="modal"></a>
                            </li>

                        </ul>
                    </div>
                    <div class="block scrollBox padding-0">
                        <div class="scroll" style="height: 290px;">
                            <div class="info" style="padding-left: 0">
                                <table class="sOrders" cellpadding="0" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th width="80">Fecha</th>
                                        <th>Nombre</th>
                                        <th width="60">Precio</th>
                                        <th width="30"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for accessory in accessories %}
                                        <div id="{{ accessory.name }}_{{ accessory.id }}"
                                             class="item clearfix inhabitants">
                                            <tr id="row_{{ accessory.id }}">
                                                <td><span class="date">{{ accessory.date|date("d/m/Y") }}</span></td>
                                                <td>{{ accessory.name }}</td>
                                                <td><span class="price">{{ accessory.price }} €</span></td>
                                                <td>
                                                    <div class="control text-center">
                                                        <a href="#accessoryDeleteModal"
                                                           class="glyphicon glyphicon-remove accessoryDeleteBtn"
                                                           title="Borrar accesorio"
                                                           data-toggle="modal"
                                                           data-path="/accessory/delete/{{ accessory.id }}"></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </div>

                                    {% else %}
                                        <div class="text-center">No hay accesorios en este acuario</div>
                                    {% endfor %}
                                    </tbody>

                                </table>
                            </div>

                        </div>

                    </div>

                </div>


            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="head clearfix">
                        <div class="isw-picture"></div>
                        <h1>Imágenes del Acuario</h1>
                        <ul class="buttons">
                            <li>
                                <a href="/aquarium/gallery/{{ aquarium.id }}" class="isw-picture"
                                   title="Galería"></a>
                                <a href="/aquarium/galleryManager/{{ aquarium.id }}" class="isw-up"
                                   title="Upload"></a>

                            </li>

                        </ul>
                    </div>
                    <div class="block clearfix" style="min-height: 270px;">

                        {% for row in images|batch(3) %}
                            <div class="row clearfix">
                                {% for image in row %}

                                    <a class="fancybox col-md-4 padding-bottom10" rel="group"
                                       href="{{ asset('assets/dashboard/img/uploads/' ~ image.name) }}">
                                        <img src="{{ asset('assets/dashboard/img/uploads/' ~ image.name) }}"

                                             class=" img-responsive center-block img-thumbnail"></a>

                                {% endfor %}
                            </div>

                        {% endfor %}


                    </div>
                </div>
                <div class="col-md-6">

                    <div class="head clearfix">
                        <div class="isw-edit"></div>
                        <h1>Parámetros</h1>
                        <ul class="buttons">
                            <li>
                                <a href="#fModal" class="isw-edit"
                                   title="Editar parámetros" data-toggle="modal" data-target="#fModal"></a>

                            </li>

                        </ul>
                    </div>
                    <div class="block news scrollBox" style="padding: 0">
                         <div class="scroll"  style="height: 270px;">
                            <table cellpadding="0" cellspacing="0" width="100%" class="sOrders">
                                <thead>
                                <tr>
                                    <th>Parámetro</th>
                                    <th width="60" class="text-center">Fecha</th>
                                    <th width="60" class="text-center">Actual</th>
                                    <th width="60" class="text-center">Min</th>
                                    <th width="60" class="text-center">Max</th>
                                    <th width="60" class="text-center">Status</th>

                                </tr>
                                </thead>
                                <tbody>

                                {% for parameter in parameters %}

                                        <tr id="parameter_{{ parameter.value_range_id }}" class="">


                                        <td>{{ parameter.name }}</td>

                                        <td class="text-center"><span
                                                    class="date">{{ parameter.max_date|date('d/m/Y') }}</span></td>
                                        <td class="text-center value">{{ parameter.value }}</td>
                                        <td class="text-center">{{ parameter.min_value }}</td>
                                        <td class="text-center">{{ parameter.max_value }}</td>
                                        <td class="text-center action">
                                            {% if parameter.min_value > parameter.value %}
                                                <a tabindex="0" class="solution" role="button" data-toggle="popover" data-trigger="focus"
                                                   title="Nivel muy alto"
                                                   data-placement="left" data-content="<a target='_blank' href='{{ parameter.solution_low }}'>Ver solución</a>">
                                                    <span class="glyphicon glyphicon-thumbs-down centered red"></span>
                                                </a>
                                            {% elseif parameter.max_value < parameter.value%}
                                                <a tabindex="0" class="solution" role="button" data-toggle="popover" data-trigger="focus"
                                                   title="Nivel muy bajo"
                                                   data-placement="left" data-content="<a target='_blank' href='{{ parameter.solution_high }}'>Ver solución</a>">
                                                    <span class="glyphicon glyphicon-thumbs-down centered red"></span>
                                                </a>
                                            {% else %}
                                                <a tabindex="0" class="solution" role="button" data-toggle="popover"  data-trigger="focus"
                                                   title="Nivel correcto"
                                                   data-placement="left" data-content="">
                                                    <span class="glyphicon glyphicon-thumbs-up centered green"></span>
                                                </a>

                                            {% endif %}
                                        </td>


                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>No hay parámetros</td>

                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>

                        </div>

                    </div>
                </div>
            </div>


            <div class="dr"><span></span></div>


        </div>

        <div class="modal fade" id="fModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <form action="/param/measure/{{ aquarium.id }}" method="POST" id="paramsMeasures">
                        <div class="modal-header head">
                            <h4 class="text-center">Nueva medición de parámetros del
                                acuario {{ aquarium.alias }}</h4>
                        </div>

                        <div class="modal-body modal-body-np">

                            <div class="row">
                                <div class="block">
                                    Introduzca las mediciones del acuario de cada parámetro indicando la fecha de
                                    las
                                    muestras, deje vacio los campos de los parámetros que no desea añadir
                                </div>

                                <div class="dr"><span></span></div>
                                <div class="block-fluid">
                                    <div class="row-form clearfix">
                                        <div class="col-md-2 col-md-offset-3">Fecha:</div>
                                        <div class="col-md-4"><input type="text"
                                                                     value="{{ "now"|date("d/m/Y") }}"
                                                                     class="form-control" id="dateParam"
                                                                     name="measureDate"
                                                                     readonly="readonly">
                                        </div>


                                    </div>

                                    {% for row in parameters|batch(2) %}
                                        <div class="row-form clearfix">
                                            {% for parameter in row %}

                                                <div class="col-md-3">{{ parameter.name }}</div>
                                                <div class="col-md-3"><input type="text"
                                                                             class="form-control onlyNumbers"
                                                                             name="{{ parameter.name }}">
                                                </div>

                                            {% endfor %}
                                        </div>

                                    {% else %}
                                        <div class="row-form clearfix">

                                            <div class="col-md-12 text-center">Aun no tiene parámetros:
                                                definidos, por
                                                favor edite el aquario y añada los parámetros que desea
                                                controlar
                                            </div>

                                        </div>
                                    {% endfor %}

                                </div>
                                <div class="dr"><span></span></div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-warning" id="btnMeasureModal"
                                   value="Guardar"/>
                            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
                                Cancelar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="accessoryModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <form action="/accessory/new/{{ aquarium.id }}" method="POST">
                        <div class="modal-header head">
                            <h4 class="text-center">Nueva Accesorio del
                                acuario {{ aquarium.alias }}</h4>
                        </div>

                        <div class="modal-body modal-body-np">

                            <div class="row">
                                <div class="block">
                                    Introduzca el nuevo accesorio que desea añadir al acuario
                                </div>

                                <div class="dr"><span></span></div>
                                <div class="block-fluid">
                                    <div class="row-form clearfix">
                                        <div class="col-md-2 col-md-offset-3">Fecha:</div>
                                        <div class="col-md-4">
                                            <input type="text" value="{{ "now"|date("d/m/Y") }}"
                                                   class="form-control" id="date" name="date">
                                        </div>
                                    </div>


                                    <div class="row-form clearfix">


                                        <div class="col-md-3">Nombre</div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" name="name">
                                        </div>
                                        <div class="col-md-3">Precio</div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" name="price">
                                        </div>

                                    </div>


                                </div>
                                <div class="dr"><span></span></div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-warning" id="btnMeasureModal"
                                   value="Guardar"/>
                            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
                                Cancelar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <form action="" method="POST" id="deleteInhabitant">
                        <div class="modal-header head">
                            <h4 class="text-center">Confirma la eliminación</h4>
                        </div>
                        <div class="modal-body modal-body-np">
                            <div class="row">
                                <div class="block">
                                    ¿Estás seguro que quieres eliminar el habitante del acuario?
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" id="btnDeleteInhabitant"
                                   class="btn btn-warning"
                                   value="Aceptar"/>
                            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
                                Cancelar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="accessoryDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <form action="" method="POST" id="deleteAccessory">
                        <div class="modal-header head">
                            <h4 class="text-center">Confirma la eliminación</h4>
                        </div>
                        <div class="modal-body modal-body-np">
                            <div class="row">
                                <div class="block">
                                    ¿Estás seguro que quieres eliminar el accesorio del acuario?
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit"
                                   class="btn btn-warning"
                                   value="Aceptar" id="deleteAccessory"/>
                            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
                                Cancelar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
