{% extends 'base.dashboard.html.twig' %}
{% block title %}Appquarium{% endblock %}
{% block menu %}

{{ render(controller(
'appquarium.controller.reminder:next7DaysReminders',
{ 'aquariumID': inhabitant.aquarium.id }
)) }}
{% endblock %}
{% block body %}

    <div class="content">


        <div class="breadLine">
            <ul class="breadcrumb">
                <li><a href="/aquarium/dashboard">Dashboard</a> <span class="divider">></span></li>
                <li><a href="/inhabitant/profile/{{ inhabitant.id }}">Habitante</a> <span class="divider">></span></li>
                <li class="active">Edit</li>
            </ul>
        </div>

        <div class="workplace">


            <div class="row">
                <div class="col-md-12">

                    <div class="widgetButtons">
                        <div class="bb">
                            <a href="/aquarium/dashboard" class="tipb" title="Inicio"><span
                                        class="ibw-home"></span></a></div>
                        <div class="bb">
                            <a href="/inhabitant/profile/{{ inhabitant.id }}" class="tipb"
                               title="Ficha Habitante"><span class="ibw-fish"></span></a></div>
                        


                    </div>
                </div>

                <div class="col-md-12">

                    <div class="head clearfix">
                        <div class="isw-chats"></div>
                        <h1>Editar habitante</h1>
                    </div>
                    <div class="block-fluid clearfix">

                        <form action="/editInhabitant/{{ inhabitant.id }}" method="POST" enctype="multipart/form-data">
                            <fieldset title="Habitante">

                                        <div class="row-form clearfix">
                                            <div class="col-md-6">
                                                <img id="avatar-preview" class="img-responsive col-xs-12" src="{{ asset('assets/dashboard/img/uploads/' ~ inhabitant.avatar) }}">
                                                <div class="row-form clearfix text-center"><button id="imgbutton" class="btn btn-block btn-lg btn-default">Cambiar avatar</button></div>
                                                <input type="file" name="avatar" id="imgInput" style="display: none">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row-form clearfix">
                                                    <div class="col-md-4">Alias</div>
                                                    <div class="col-md-8"><input type="text" name="alias" value="{{ inhabitant.alias }}" class="validate[required]"></div>
                                                </div>

                                                <div class="row-form clearfix">
                                                    <div class="col-md-4">Nombre científico</div>
                                                    <div class="col-md-8"><input type="text" name="scientificName" value="{{ inhabitant.scientificName }}"></div>
                                                </div>
                                                <div class="row-form clearfix">
                                                    <div class="col-md-4">Cantidad</div>
                                                    <div class="col-md-8"><input type="text" name="number" value="{{ inhabitant.number }}" class="onlyNumbers"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-form clearfix">
                                            <div class="col-md-6">
                                                <div class="row-form clearfix">
                                                    <div class="col-md-4">Alimento</div>
                                                    <div class="col-md-8"><input type="text" name="foodType" value="{{ inhabitant.foodType }}"></div>
                                                </div>
                                                <div class="row-form clearfix">
                                                    <div class="col-md-8">Periodicidad de alimentación en días</div>
                                                    <div class="col-md-4"><input type="text" name="feedTime" value="{{ inhabitant.feedTime }}"></div>


                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row-form clearfix">
                                                    <div class="col-md-4">Precio</div>
                                                    <div class="col-md-8"><input type="text" name="price" value="{{ inhabitant.price }}" class="onlyNumbers"></div>

                                                </div>

                                                <div class="row-form clearfix">
                                                    {% set family = ["Vertebrate", "Invertebrate"] %}
                                                    <div class="col-md-4">Familia</div>
                                                    <div class="col-md-8">
                                                        <select name="family">
                                                            {% for Currentfamily in family %}
                                                                {% if Currentfamily == inhabitant.family %}
                                                                    <option value="{{ Currentfamily }}" selected="selected">{{ Currentfamily }}</option>
                                                                {% else %}
                                                                    <option value="{{ Currentfamily }}">{{ Currentfamily }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row-form clearfix">
                                                <div class="col-md-2">Descripción:</div>
                                                <div class="col-md-10"><textarea name="description">{{ inhabitant.description }}</textarea></div>
                                            </div>
                                        </div>
                            </fieldset>
                            <div class="col-md-12">
                            <input type="submit" class="btn btn-default finish" value="Guardar">
                            </div>

                        </form>



                    </div>

                </div>



            </div>



            <div class="dr"><span></span></div>


        </div>

    </div>
{% endblock %}


